<h1>Welcome to Good Burger - Home of the Good Burger!</h1>

<div id = "one">
    <h2>Food that hasn't been eaten</h2>

  <ul>
  {{#each burgers}}
    {{#unless ordered}}
      {{> burgers/burger-block ordered=true}}
    {{/unless}}
  {{/each}}
</ul>
</div>

<div id= "two">

<h2>Food in my belly!</h2>

<ul>
  {{#each burgers}}
    {{#if ordered}}
      {{> burgers/burger-block ordered=false}}
    {{/if}}
  {{/each}}
</ul>
</div>
<br>
<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burgername">Burger Name:</label>
    <input type="text" id="burgername" name="burger_name" placeholder = "Name the burger">
 </div>
 <div class = "form-group">
    <label for="ordered">Select me</label><br>
    <input type="radio" name="ordered" value="0">
  </div>

  <button type="submit" >Add a Good Burger</button>
</form>
